* {
  background-color: #111324;
  color: #fff;
}

nav {
  height: 80px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div {
  border-top: 1px solid;
  text-align: center;
  padding: 0.6rem;
}
